* {
    font-size: 16px;
}

body {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

#Fregister {
    margin-top: 50px;
    color: white;
    border: gray solid 1px;
}

form {
    margin: auto;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input {
    color: #1655DC;
    border: #1655DC solid 1px;
    border-radius: 5px;
    padding-left: 9px;
    background: none;
    margin: 5px;
}

.submit {
    color: white;
    background: #1655DC;
}