*
{
    font-size:24px;
    color:black;
    font-weight:bold;
}
form
{
    border:solid black 3px;
    background:black;
    color:white;
}

.input
{
    color:#1655DC;
    border:#1655DC solid 1px;
    border-radius:5px;
    padding-left:15px;
    background:none;
    margin:5px;
}

.submit
{
    color:white;
    background:#1655DC;

}

body
{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    padding-top:150px;
}

form
{
    margin:auto;
    margin:20px;
    padding:10px;
    border-radius:5px;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction:column;
    box-shadow:5px 2px 5px 2px #1655DC;
}


.card
{
    height:600px;
    width:900px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:row;
    padding:20px;
    margin:50px;
    box-shadow:5px 5px 5px 5px rgb(0,0,0,0.3);
}
.productImage
{
    height:350px;
    width:350px;
    margin:10px;
}

.prod
{
    display:flex;
    flex-wrap:wrap;
}

.learnMore
{
    color:#1655DC;
    border:solid #1655DC 1px;
    border-radius:5px;
    text-decoration:none;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
}
.learnMore:hover
{
    background:#1655DC;
    color:white;
    font-weight:bold;
}

.logo
{
    position:fixed;
    top:10%;
    left:10%;

}

